<footer>

    <nav class="d-flex space-around">
        <div class="logo"><a href=""><img src="{{ asset('assets/img/LogoCagou.png') }}" alt="logoCagou" class="resp">
            </a></div>
        <ul class="d-flex space-around">
            <li> </li>
            <li> <a href="">Nous contacter</a></li>
        </ul>
    </nav>

    {% block footer %}{% endblock footer %}

</footer>
</body>
</html>